.default-button{
    text-align: center;
    display: inline-block;
    position: relative;
    float: right;
    width: 120px;
    font-weight: 600;
    height: 40px;
    background-color: rgb(255, 105, 0);
    color: white;
    line-height: 40px;
    border-radius: 10px;
    cursor: pointer;
    border: none;
    text-decoration: none !important;
}
.default-button:hover{
    color: white;
}

.shop-main-container{
    width: 1300px;
    margin-left: calc(50% - 650px);
}

.hidden{
    visibility: hidden;
}

.cart-box{
    position: absolute;
    top: 60px;
    left: -160px;
    width: 300px;
    min-height: 100px;
    background-color: white;
    z-index: 2;
    border-radius: 10px;
    visibility: hidden;
    color: black;
    cursor: default;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.clickable{
    display: inline-block;
    cursor: pointer;
    width: 40px;

}

.clickable:hover{
  background-color: rgba(255, 106, 0, 0.479);
}

.cat-name{
    font-size: 30px;
    font-weight: 600;
}

.footer{
    width: 100%;
    height: 200px;
    background-color: #454B54;
}

.cart-title-row{
    text-align: left;
    padding-left: 6px;
    padding-right: 6px;
    .ex{
        display: inline-block;
        float: right;
        width: 40px;
        text-align: center;
    }
}

.cart-price-row{
    height: 45px;
    padding-left: 6px;
    padding-right: 6px;
    .cart-price-box{
        display: inline-block;
        height: 45px;
        border: solid 1px black;
        border-radius: 10px;
        width: 100px;
        float: left;
    }
}

.total-product-price{
    display: inline-block;
    float: right;
}